.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;

}

.containerModal {
    width: 300px;
    max-width: 100%;
    min-height: 100px;
    background-color: #fff;
    position: relative;
    border-radius: 7px;
    box-shadow: 0px 0px 13px 12px rgb(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImg img {
    width: 200px;
    height: 200px;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.700);
    margin: 34px 7px;
}

.containerModal p {
    color: rgb(0, 0, 0);
    margin: 10px 0px;
}

.containerModal button {
    font-size: 16px;
    background-color: rgba(53, 50, 204, 0.750);
    color: #fff;
    padding: 7px 15px;
    border-radius: 7px;
    border: 3px solid rgb(185, 153, 243);
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .containerModal {
        width: 510px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .containerImg img {
        width: 250px;
        height: 250px;
    }

    .titulo {
        margin: 10px 0;
    }

    .containerModal p {
        margin: 10px 0px;
    }
}

@media screen and (min-width: 992px) {
    .containerModal {
        width: 510px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .containerImg img {
        width: 300px;
        height: 300px;
    }
}