/* Colores */
/* fondo #504375 */
/* letra #F4F4F6 */

/* Fonts */
/* 'Nunito', sans-serif */
/* 'Roboto', sans-serif */


.seccionDestacados {
    margin-top: -1px;
    background-color: #504375;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seccionDestacados h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 7px;
    color: #F4F4F6;
    margin: 25px 0;
    text-align: center;
}

.errorTarjetas{
    display: flex;
    justify-content: center;
    align-items:center;
    height:50vh;
    width:100%;
    color:var(--white-color);
    font-family: var(--first-font);
    font-weight: bold;
    font-size: 3rem
}

@media screen and (max-width: 480px){
    .errorTarjetas{
        font-size: 2rem
    }
}


@media screen and (max-width: 768px){
    .seccionDestacados {
        padding-top: 80px
    }
}
