.links{
    display: inline-block;
    padding: 8px;
    line-height: normal;
    text-decoration: none;
    transition: all 0.5s ease;
    width: 100%;
    text-align: center;

}

.links:hover {
    color: var(--third-color);
/*     border-bottom: 2px solid var(--third-color);
    padding-bottom: 8px; */
}

.stackIn {
    animation: stackIn 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media (max-width: 991px) {

    .links {
        padding: 25px;
        border-left: 5px solid transparent;
        transition: all 0.5s ease;
    }

    .links:hover {
        background-color: rgba(51, 29, 74,0.5);
        border-bottom: 0px;
        padding-bottom: 25px;
		border-left: 10px solid var(--third-color);
    }

    @keyframes stackIn {
        0% {
            -webkit-transform: translateY(-50px);
                    transform: translateY(-50px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
            opacity: 1;
        }
        }
}


.hoverIcon:hover {
    cursor: pointer;
    filter:brightness(0) saturate(100%) invert(36%) sepia(9%) saturate(3673%) hue-rotate(289deg) brightness(97%) contrast(83%);
}

.flag {
    display: none;
}

.botonMenu {
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
    cursor: pointer;
    background: #331d4a;
}

.botonMenu span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2em;
    height: .2em;
    margin: auto;
    background: #fff;
}

.botonMenu span:before,
.botonMenu span:after {
    position: absolute;
    width: inherit;
    height: inherit;
    content: '';
    background: #fff;
}

.botonMenu span:before {
    top: -0.7em;
}

.botonMenu span:after {
    bottom: -0.7em;
}

.botonMenu span {
    transition: background 0s .25s;
}

.botonMenu span:before,
.botonMenu span:after {
    transition-delay: .25s, 0s;
    transition-duration: .25s, .25s;
}

.botonMenu span:before {
    transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.botonMenu span:after {
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}

.flag:checked + span {
    background: none;
}

.flag:checked + span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.flag:checked + span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.flag:checked + span:before,
.flag:checked + span:after {
    transition-delay: 0s, .25s;
}

