/*.************ VARIABLES ************.*/
:root {
  /*Colores*/
  --first-color: #d6a692;
  --second-color: #ce7777;
  --third-color: #ad4c6b;
  --backg-color: #331d4a;
  --backg-second-color: #504375;
  --black-color: #000000;
  --grey-light-color: #C0C0C0;
  --white-color: #ffffff;

  /*Tipografia*/
  --first-font: 'Roboto', sans-serif;
  --second-font: 'Nunito', sans-serif;
}
